<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".bin" mimeType="application/octet-stream" /> 
        </staticContent>
    </system.webServer>
</configuration>